/*
    TODO: Remove elements from the menu bar 
    when the website is seen on a smaller 
    screen.

    TODO: Make the text area full page width

    TODO: Make the user able to scroll throught
    the textarea in the y axis and the x axis.

    TODO: Make the text editor dynamicaly
    write the number of lines

    TODO: Add a component that will make the 
    user allow to change the size of the font.
*/

/* General colors */
:root {
    --dark-blue: rgb(46, 58, 63);
    --dark-blue-shadow: rgb(37, 37, 37);
    --semi-dark-blue: rgb(70, 106, 122);
    --darker-blue: rgb(52, 74, 85);
    --pale-blue: rgb(93, 144, 167);
}

* {
    padding: 0;
    margin: 0;
    font-family: Fira Mono, 'Roboto', sans-serif;
}

body {
    background-color: var(--dark-blue);
}

footer {
    background-color: var(--semi-dark-blue);
}


/* Menu bar*/
nav {
    background-color: var(--semi-dark-blue);
    width: 100%;
    height: 60px;
    box-shadow: 4px 1px 6px var(--dark-blue-shadow);
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

nav ul li h1 a {
    font-weight: 100;
}


/* Design the text editor*/
.text-editor-container {
    display: flex;
}

.text {
    resize: none;
    color: white;
    background-color: var(--darker-blue);
    border: none;
    display: inline-block;
    font-size: 16px;
}

.coutour-border-editor {
    border: 3px solid var(--pale-blue);
}

.text:focus {
    outline: none !important;
  }

.text-editor-lines-numbers.text {
    text-align: center;
    border-right: 3px solid var(--pale-blue);
    
}
.text-editor-lines-text.text {
    text-align:left;
}


/* Makes the placeholder text italic*/
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }